.tab-trigger {
  @apply rounded-full;
  @apply transition-colors duration-300;
}
.tab-trigger[data-state="active"] {
  @apply bg-black text-white;
}

.tab-trigger .text {
  @apply px-4 py-2 laptop:px-6 laptop:py-4;
  @apply text-base leading-tight tracking-tight;
}

.activeTab {
  @apply bg-brand-primary;
  @apply border-none;
  @apply text-white;
}

.inactiveTab {
  @apply bg-white;
  @apply border-solid;
  @apply text-black;
  @apply border-2;
}

.accordion-item {
  @apply bg-white;
  @apply whitespace-break-spaces;
  box-shadow: 0px 0px 30px #dcdcdc80;
  border-radius: 20px;
}

.accordion-item .accordion-trigger {
  @apply flex w-full items-center justify-between;
  @apply text-3xl leading-tight tracking-tight;
}

.accordion-item[data-state="open"] .open-icon {
  @apply hidden;
  @apply h-8 w-8;
  @apply transition-transform;
}

.accordion-item[data-state="closed"] .close-icon {
  @apply hidden;
  @apply h-8 w-8;
  @apply transition-transform;
}

.accordion-item .accordion-content {
  @apply overflow-hidden;
  @apply pt-4;
  @apply text-[#808080];
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.accordion-item[data-state="open"] .accordion-content {
  animation-name: accordion-slide-down;
}
.accordion-item[data-state="closed"] .accordion-content {
  animation-name: accordion-slide-up;
}

@keyframes accordion-slide-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-slide-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
