.sectionBackground {
  background: linear-gradient(90deg, #3fbca0, #16b8d2);
  background-size: contain;
}

.animatedSpan {
  position: absolute;
  width: 100%;
  left: 0;
  font-size: 40px;
  color: white;
  display: block;
  opacity: 0;
  font-weight: 900;
}

.animated1 {
  animation: fadeInOut 6s infinite;
  animation-delay: 0s;
}

.animated2 {
  animation: fadeInOut 6s infinite;
  animation-delay: 2s;
}

.animated3 {
  animation: fadeInOut 6s infinite;
  animation-delay: 4s;
}

@keyframes fadeInOut {
  0%,
  5% {
    transform: translateX(100%);
    opacity: 0;
  }
  10%,
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  35%,
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.maskedCard {
  -webkit-mask-image: radial-gradient(
    circle at 50% 50%,
    transparent 20px,
    black 21px
  );
  mask-image: radial-gradient(circle at 50% 50%, transparent 20px, black 21px);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .maskedCard {
    margin-top: 0;
    -webkit-mask-image: radial-gradient(
      circle at 50% 50%,
      transparent 30px,
      black 31px
    );
    mask-image: radial-gradient(
      circle at 50% 50%,
      transparent 30px,
      black 31px
    );
  }
}

@media (min-width: 1024px) {
  .maskedCard {
    margin-top: 0;
    margin-right: 5rem;
    -webkit-mask-image: radial-gradient(
      circle at 50% 50%,
      transparent 40px,
      black 41px
    );
    mask-image: radial-gradient(
      circle at 50% 50%,
      transparent 40px,
      black 41px
    );
  }
}
