.tab-trigger {
  @apply rounded-full;
  @apply transition-colors duration-300;
}
.tab-trigger[data-state="active"] {
  @apply bg-black text-white;
}

.tab-trigger .text {
  @apply px-4 py-2 laptop:px-6 laptop:py-4;
  @apply text-base leading-tight tracking-tight;
}

.accordion-item:not(:last-child) {
  @apply bg-white;
}

.accordion-item .accordion-trigger {
  @apply flex w-full items-center justify-between;
  @apply text-3xl leading-tight tracking-tight;
}

.accordion-item {
  @apply bg-white;
  box-shadow: 0px 0px 30px rgba(220, 220, 220, 0.5);
}

.accordion-item .icon {
  @apply h-8 w-8;
  @apply transition-transform;
}
.accordion-item[data-state="open"] .icon {
  @apply rotate-180;
}

.accordion-item .accordion-content {
  @apply overflow-hidden;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.accordion-item[data-state="open"] .accordion-content {
  animation-name: accordion-slide-down;
}
.accordion-item[data-state="closed"] .accordion-content {
  animation-name: accordion-slide-up;
}

@keyframes accordion-slide-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-slide-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
